@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --yellow: #f4d04e;
    --white: #ffffff;
    --gray500: hsl(0, 0%, 42%);
    --gray950: hsl(0, 0%, 7%);
    --black: #000000;
    --figtree: 'Figtree', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    width: 375px;
    margin: 5% auto;
    border: 1px solid var(--black);
    border-radius: 20px;
    box-shadow: 10px 10px;
    font-family: var(--figtree);

    p {
        font-size: 16px;
    }

    header {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 1rem 1rem 0.5rem 1rem;
        width: 100%;

        img {
            border-radius: 15px;
        }

        button {
            margin-top: 1rem;
            margin-bottom: 1rem;
            width: 35%;
            height: 2.5rem;
            border-radius: 5px;
            border: none;
            background-color: var(--yellow);
            font-size: 16px;
            font-weight: bold;

            &:hover {
                opacity: 0.5;
            }
        }

        p {
            color: var(--gray950);
        }
    }

    main {
        display: flex;
        flex-direction: column;
        background-color: var(--white);
        padding: 0.5rem 1rem 1rem 1rem;
        width: 100%;


        h1 {
            margin-bottom: 1rem;
            font-weight: 800;
            font-size: 1.8rem;
        }

        p {
            color: var(--gray500);
        }

        picture {
            margin-top: 2rem;
            display: flex;
            gap: 1rem;
            align-items: center;

            p {
                font-weight: 800;
                color: var(--black);
            }
        }
    }

    footer {
        width: 100%;
        background-color: var(--white);

        .attribution {
            font-size: 11px;
            text-align: center;
        }

        .attribution a {
            color: hsl(228, 45%, 44%);
            text-decoration: none;
        }
    }
}